<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div>
  		<%= link_to "Home", images_path %> | 
  		<%= link_to "Add Image", new_image_path %>
  	</div>
    <%= yield %>
  </body>
</html>
